<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sản phẩm - Sugar Petals Admin</title>
    <th:block th:replace="~{admin/layout/css :: css}"></th:block>
</head>
<body>
<div class="container-scroller">
    <div th:replace="~{admin/layout/header :: header}"></div>
    <div class="container-fluid page-body-wrapper">
        <div th:replace="~{admin/layout/menu :: menu('products')}"></div>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">Quản lý sản phẩm</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/admin}">Bảng điều khiển</a></li>
                            <li class="breadcrumb-item active">Sản phẩm</li>
                        </ol>
                    </nav>
                </div>
                <section class="content">
                    <div class="form-group mb-3">
                        <a class="btn btn-sm btn-success" th:href="@{/admin/products/add}"><i class="fas fa-plus mr-2"></i>Thêm mới</a>
                    </div>
                    <div class="card rounded shadow">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-admin">
                                    <thead>
                                    <tr>
                                        <th>Ảnh</th>
                                        <th>Tên</th>
                                        <th>Danh mục</th>
                                        <th>Giá</th>
                                        <th width="80">Thao tác</th>
                                    </tr>
                                    </thead>
                                    <tbody id="food-list-container"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{admin/layout/js :: js}"></th:block>
<script th:src="@{/admin/js/list.js}"></script>
</body>
</html>
