<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý đơn hàng - Admin</title>
    <link rel="stylesheet" th:href="@{/admin/css/style.css}">
    <link rel="stylesheet" th:href="@{/admin/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/admin/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/admin/css/orders.css}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="~{admin/fragments/navbar :: navbar}"></div>
    <hr>
    <div class="app-content">
        <div th:replace="~{admin/fragments/sidebar :: sidebar(active='orders')}"></div>
        <div class="main-content">
            <div class="orders add">
                <h3>Quản lý đơn hàng</h3>
                <div class="order-list" id="order-list-container"></div>
            </div>
        </div>
    </div>
    <script th:src="@{/admin/js/main.js}"></script>
    <script th:src="@{/admin/js/orders.js}"></script>
</body>
</html>
