<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="js">
    <script th:src="@{/admin/extensions/js/jquery.min.js}"></script>
    <script th:src="@{/admin/themes/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/admin/themes/js/off-canvas.js}"></script>
    <script th:src="@{/admin/themes/js/hoverable-collapse.js}"></script>
    <script th:src="@{/admin/themes/js/misc.js}"></script>
    <script th:src="@{/admin/themes/js/dashboard.js}"></script>
    <script th:src="@{/admin/js/main.js}"></script>
</th:block>
</body>
</html>
